#map {
    position: fixed;
    left: 10%;
  height: 500px;
  width: 600px;
  border-radius: 15px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#liveMusic{
  position: relative;
  left: 30%;
}