body { background-color: #5CDB95;
        color: #05386B;
}

form.search,
form.signup,
form.login {
  margin-top: 15%;
}

.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color:#05386B;
  color:#EDF5E1;
  padding-left: 2%;
  z-index: 1;
}

.carousel{
  top: 10rem;
  height: 25rem;
}

.carousel-item {
  font-size: 5rem;
}

#one {
  padding-top: 10%;
  background-image: url("./image5.png");
  background-color: #379683;
  color: #EDF5E1;
}
#two{
  padding-top: 10%;
  background-image: url("./image4.png");
  background-color: #379683;
  color: #EDF5E1;
}
#three {
  padding-top: 10%;
  background-image: url("./image2.png");
  background-color: #379683;
  color: #EDF5E1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#05386B;
  color:#EDF5E1;
  text-align: center;
}

.btn {
  background-color: #379683;
  color: #05386B;
}


